@import '../../global';

.note-list-container {
  overflow: auto;
  max-height: calc(100vh - 50px);
  & + button {
    font-size: $font-size;
    color: $red;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    cursor: pointer;
    text-align: left;
    border: 0;
    border-top: 1px solid $light-gray;
    background: #fafafa;
  }
  h1 {
    padding: 0 10px 10px;
  }
}
.note-list-item {
  padding: 10px;
  cursor: pointer;
  border-left: 5px solid transparent;
  &:hover {
    border-left: 5px solid $red;
  }
  &:hover .close {
    display: block;
  }
  &.active {
    background-color: $pink;
  }
  h2 {
    color: $black;
    margin: 0;

    @include text-ellipsis;
    + span {
      font-size: $font-size * .8;
      color: $middle-gray;
      display: block;
      margin: 5px;

      @include text-ellipsis;
    }
  }
  .close {
    font-weight: bold;
    line-height: 12px;
    color: $gray;
    position: absolute;
    z-index: 1;
    top: 4px;
    right: 6px;
    display: none;
    width: 14px;
    height: 15px;
    text-align: center;
    &:hover {
      color: $light-gray;
      background-color: $black;
    }
  }
}
