@import '../../global';

* {
  line-height: $line-height;
  position: relative;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
}
input,
textarea,
button {
  border: 0;
  &:focus {
    outline: 0;
  }
}
.note-app {
  display: flex;
}
.note-list-container {
  width: 250px;
  min-width: 250px;
}
.note-content-container {
  flex: 1;
  height: 100vh;
  box-shadow: 0 -1px 20px 0 #ccc;
}
